.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* align-content: center;
     height: 100vh; */
}

body {
  margin: 0px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  flex: 1;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
